{% extends "!basic/layout.html" %}


{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">home</a>|&nbsp;</li>
        <li><a href="{{ pathto('search') }}">search</a>|&nbsp;</li>
{% endblock %}


{% block relbar1 %}

<!-- <div class="heading-block">
<a href="{{ pathto('index') }}"><div class="inline-div"><img src="{{
pathto("_static/GET-logo-small.png", 1) }}" border="0" alt="GET logo"/></div><div class="inline-div"><div class="main-title">GET</div>
<div class="sub-title">Generalised<br/>Epithelial<br/>Transport</div></div></a>
</div> -->
<div class="heading-block">
<a href="{{ pathto('index') }}">
	<table>
		<tr>
			<td valign="middle"><img src="{{pathto("_static/GET-logo-small.png", 1) }}" border="0" alt="GET logo"/></td>
			<td valign="middle"><div class="main-title">GET</div></td>
			<td valign="middle" class="left-bracket"><div class="sub-title">Generalised<br/>Epithelial<br/>Transport</div></td>
		</tr>
	</table>
</a>
</div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

