{% extends "!basic/layout.html" %}


{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">home</a>|&nbsp;</li>
        <li><a href="{{ pathto('search') }}">search</a>|&nbsp;</li>
{% endblock %}


{% block relbar1 %}

<div class="heading-block">
	<table>
		<tr>
			<td valign="middle" class="small-width"><a href="{{ pathto('index') }}">
				<img src="{{pathto("_static/GET-logo-small.png", 1) }}" border="0" alt="iNephron logo"/>
			</a></td>
			<td valign="middle" class="small-width"><a href="{{ pathto('index') }}">
				<div class="main-title"><i>i</i>Nephron</div>
			</a></td>
			<td valign="middle" class="small-width left-bracket"><a href="{{ pathto('index') }}">
				<div class="sub-title">reproducible<br/>and FAIR</div>
			</a></td>
			<td valign="middle" class="large-width">
				Aotearoa Foundation
			</td>
		</tr>
	</table>
</div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

